<p>
  <%= image_tag @team.photo_url.nil? ? 'team.jpg' : @team.photo_url(:team_photo), :class => 'img-responsive img-thumbnail' %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @team.position %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
