<section class="bg-primary background-multiply pt240 pb240 pt-xs-120 pb-xs-120 overlay image-bg parallax">
  <div class="background-image-holder">
    <%= image_tag 'bg_home.jpg', :class => 'background-image', :alt => 'Growantlers' %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
        <%= image_tag 'logo-light.png', :class => 'image-small mb40 mb-xs-0', :alt => 'Growantlers' %>
        <h4 class="mb56 mb-xs-24">
          Antlers is dadang jebred beledug waw, tailoring experiences in web and print for clients all around the globe.
        </h4>
        <%= link_to 'Contact Us', contact_path, :class => 'btn btn-lg btn-white mb0' %>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>
<section class="portfolio-pullup">
  <div class="container">
    <div class="row row-gapless masonry masonryFlyIn">
      <%- @portfolios.each_with_index do |portfolio, index| %>
        <%- if @portfolio_sizes[index] == :portrait %>
          <%- portfolio_image = portfolio.main_image_url(:portrait).nil? ? 'project-single-3.jpg' : portfolio.main_image_url(:portrait) %>
        <%- elsif @portfolio_sizes[index] == :landscape %>
          <%- portfolio_image = portfolio.main_image_url(:landscape).nil? ? 'project-single-2.jpg' : portfolio.main_image_url(:landscape) %>
        <%- end %>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
          <div class="image-tile inner-title hover-reveal text-center">
            <%= link_to public_show_portfolio_path(portfolio.slug_id) do %>
              <%= image_tag portfolio_image, :alt => 'Growantlers Portfolio - ' + portfolio.title %>
              <div class="title">
                <h5 class="uppercase mb0"><%= portfolio.title %></h5>
                <span><%= portfolio.client %></span>
              </div>
            <%- end %>
          </div>
        </div>
      <%- end %>
    </div>
  </div>
</section>
<section class="pb0">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
        <h3>A unique, process driven approach to delivering outstanding results for our partners.</h3>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="feature feature-3 mb-xs-24 mb64">
          <div class="left">
            <i class="ti-panel icon-sm"></i>
          </div>
          <div class="right">
            <h5 class="uppercase mb16">Expert, Modular Design</h5>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature feature-3 mb-xs-24 mb64">
          <div class="left">
            <i class="ti-medall icon-sm"></i>
          </div>
          <div class="right">
            <h5 class="uppercase mb16">Trusted, Elite Author</h5>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature feature-3 mb-xs-24 mb64">
          <div class="left">
            <i class="ti-layout icon-sm"></i>
          </div>
          <div class="right">
            <h5 class="uppercase mb16">Ultimate Flexibility</h5>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature feature-3 mb-xs-24 mb64">
          <div class="left">
            <i class="ti-comment-alt icon-sm"></i>
          </div>
          <div class="right">
            <h5 class="uppercase mb16">Dedicated Support</h5>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature feature-3 mb-xs-24">
          <div class="left">
            <i class="ti-infinite icon-sm"></i>
          </div>
          <div class="right">
            <h5 class="uppercase mb16">Endless Layouts</h5>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature feature-3 mb-xs-24">
          <div class="left">
            <i class="ti-dashboard icon-sm"></i>
          </div>
          <div class="right">
            <h5 class="uppercase mb16">Built for Performance</h5>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-title page-title-2 image-bg overlay parallax">
  <a id="about"></a>
  <div class="background-image-holder">
    <%= image_tag 'bg_home_about.jpg', :class => 'background-image', :alt => 'Growantlers' %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="uppercase mb8">About Us</h2>
        <p class="lead mb0">A descriptive subtitle for your page.</p>
      </div>
    </div>
  </div>
</section>
<section class="pb0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="uppercase">About Antlers</h4>
        <p>
          In term, Antlers means  “Tanduk rusa” which used as an appliance and home industry. Antlers is a representative of our goal in solving problems. We are creative group who have creative ideas, skill and strong determination in helping business life. Antlers holds togetherness, tolerance and family firmly. That is the reason making us as a solid creative agency now and ever after. We create ideas from our heart and fulfill them with our best way. We do what customers want us to do, we help customers in making their own goals come true. We mobilize our ability in helping you to create a best brand, it is also related to  branding, promotions, publicity, product packaging, videos, UI/UX web, application and others.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <%- @teams.each do |team| %>
        <div class="col-md-3 col-sm-6">
          <div class="image-tile outer-title text-center">
            <%= image_tag team.photo_url(:team_photo).nil? ? 'team.jpg' : team.photo_url(:team_photo), :alt => 'Growantlers - ' + team.name %>
            <div class="title mb16">
              <h5 class="uppercase mb0"><%= team.name %></h5>
              <span><%= team.position %></span>
            </div>
            <p class="mb0">
              <%= team.description %>
            </p>
          </div>
        </div>
      <%- end %>
    </div>
  </div>
</section>
