<section class="page-title page-title-4 bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0">Parallax</h3>
      </div>
      <div class="col-md-6 text-right">
        <ol class="breadcrumb breadcrumb-2">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="#">Portfolio</a>
          </li>
          <li class="active">Parallax</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="image-bg bg-dark parallax overlay pt120 pb120">
  <div class="background-image-holder">
    <%= image_tag 'project-single-3.jpg', :alt => 'Portfolio project', :class => 'background-image' %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="uppercase mb8">Pondering Blonde</h2>
        <p class="lead mb40">A brief description of the project.</p>
        <%= link_to 'Open Project', show_portfolio_path('dadang'), :class => 'btn btn-lg btn-white mb0' %>
      </div>
    </div>
  </div>
</section>
<section class="image-bg bg-dark parallax overlay pt120 pb120">
  <div class="background-image-holder">
    <%= image_tag 'project-single-6.jpg', :alt => 'Portfolio project', :class => 'background-image' %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="uppercase mb8">A Thick Fog</h2>
        <p class="lead mb40">A brief description of the project.</p>
        <%= link_to 'Open Project', show_portfolio_path('dadang'), :class => 'btn btn-lg btn-white mb0' %>
      </div>
    </div>
  </div>
</section>
<section class="image-bg bg-dark parallax overlay pt120 pb120">
  <div class="background-image-holder">
    <%= image_tag 'project-single-2.jpg', :alt => 'Portfolio project', :class => 'background-image' %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="uppercase mb8">The Lonely Dog</h2>
        <p class="lead mb40">A brief description of the project.</p>
        <%= link_to 'Open Project', show_portfolio_path('dadang'), :class => 'btn btn-lg btn-white mb0' %>
      </div>
    </div>
  </div>
</section>
<section class="image-bg bg-dark parallax overlay pt120 pb120">
  <div class="background-image-holder">
    <%= image_tag 'project-single-4.jpg', :alt => 'Portfolio project', :class => 'background-image' %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="uppercase mb8">Summer Lovin'</h2>
        <p class="lead mb40">A brief description of the project.</p>
        <%= link_to 'Open Project', show_portfolio_path('dadang'), :class => 'btn btn-lg btn-white mb0' %>
      </div>
    </div>
  </div>
</section>
