<section class="page-title page-title-4 bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0">Portfolio</h3>
      </div>
      <div class="col-md-6 text-right">
        <ol class="breadcrumb breadcrumb-2">
          <li>
            <%= link_to 'Home', root_path %>
          </li>
          <li class="active">Portfolio</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<%- @portfolios.each do |portfolio| %>
  <section class="image-bg bg-dark parallax overlay pt120 pb120">
    <div class="background-image-holder">
      <%= image_tag portfolio.main_image_url.nil? ? 'project-single-3.jpg' : portfolio.main_image_url, :alt => 'Growantlers Portfolio - ' + portfolio.title, :class => 'background-image' %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="uppercase mb8"><%= portfolio.title %></h2>
          <p class="lead mb40"><%= portfolio.brief_description %></p>
          <%= link_to 'Open Project', public_show_portfolio_path(portfolio.slug_id), :class => 'btn btn-lg btn-white mb0' %>
        </div>
      </div>
    </div>
  </section>
<%- end %>
